body {
    text-align: center;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.crypto-card {
    min-width: 400px;
}

.select-box {
    display: flex;
    justify-content: space-between;
}

.Para-style {
    border: 2px solid black;
    display: flex;
    padding: 10px 0px;
    margin: 10px 0px;
    font-size: 1.2rem;
    justify-content: center;
    border-radius: 20px;
}