body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    /* height: 200px; */
    position: relative;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    width: 90%;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.exchanger {
    position: absolute;
    align-self: center;
    justify-self: center;
    padding: 20px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.863);
    color: white;
}

.inner-box {
    position: relative;
    padding-block: 30px;
    padding-inline: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 40px;
    background-color: #cccccc47;
}

span {
    font-weight: bold;
    color: black;
}

.inner-box-1 {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
}

.one {
    width: 60%;
}

.heading {
    margin-bottom: 20px;
}

.heading {
    font-weight: 500;
}

.para {
    font-weight: 500;
    margin-bottom: 24px;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.558);
}

@media only screen and (min-width:576px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width:768px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width:992px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}